.container { 
    display: flex;


 .mainContainer{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 1.5rem 3rem;
   gap: 1.5rem;
    max-height: 100vh;
    overflow-y: auto;
   &>header{
       margin-left: auto; 
    }
    main{
        flex:1; 
    }
 }
}