.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 0rem 3rem 2rem;
    background-color: white;
    height: 200px;
    .signature {
        display: flex;
        align-items: end;
        justify-content: center;
        width: 280px;
        height: 35px;
        border-top: 1px solid black;
    }
}

@media print {
    .footer {
        padding: 0mm 6mm;
        height: 40mm;
        border-top: none;
        margin: 1mm;
    }
}